In [ ]:
import pandas as pd

In [12]:
original_df = pd.read_csv('./Data/STATIONS/2020_04_Abril_BicingNou_ESTACIONS.csv')

In [17]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3892389 entries, 0 to 3892388
Data columns (total 13 columns):
 #   Column                                Dtype
---  ------                                -----
 0   station_id                            int64
 1   num_bikes_available                   int64
 2   num_bikes_available_types.mechanical  int64
 3   num_bikes_available_types.ebike       int64
 4   num_docks_available                   int64
 5   is_installed                          int64
 6   is_renting                            int64
 7   is_returning                          int64
 8   last_reported                         float64
 9   is_charging_station                   bool
 10  status                                object
 11  last_updated                          int64
 12  ttl                                   int64
dtypes: bool(1), float64(1), int64(10), object(1)
memory usage: 360.1+ MB

In [16]:
original_df.loc[original_df['station_id'] == 1]

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl
0,1,0,0,0,46,1,0,0,1.584383e+09,True,MAINTENANCE,1585692026,20
445,1,0,0,0,46,1,0,0,1.584383e+09,True,MAINTENANCE,1585692313,5
890,1,0,0,0,46,1,0,0,1.584383e+09,True,MAINTENANCE,1585692619,12
1335,1,0,0,0,46,1,0,0,1.584383e+09,True,MAINTENANCE,1585692936,30
1780,1,0,0,0,46,1,0,0,1.584383e+09,True,MAINTENANCE,1585693236,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3890049,1,23,23,0,23,1,1,1,1.588282e+09,True,IN_SERVICE,1588282517,2
3890517,1,23,23,0,23,1,1,1,1.588283e+09,True,IN_SERVICE,1588282843,30
3890985,1,23,23,0,23,1,1,1,1.588283e+09,True,IN_SERVICE,1588283131,18
3891453,1,23,23,0,23,1,1,1,1.588283e+09,True,IN_SERVICE,1588283434,21
3891921,1,23,23,0,23,1,1,1,1.588284e+09,True,IN_SERVICE,1588283740,27

In [20]:
global_df = pd.read_csv('./Data/STATIONS_CLEANED/global_df.csv')

In [21]:
global_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275091 entries, 0 to 3275090
Data columns (total 16 columns):
 #   Column                                Dtype
---  ------                                -----
 0   station_id                            int64
 1   year                                  int64
 2   month                                 int64
 3   day                                   int64
 4   hour                                  int64
 5   num_bikes_available                   float64
 6   num_bikes_available_types.mechanical  float64
 7   num_bikes_available_types.ebike       float64
 8   num_docks_available                   float64
 9   weekend                               float64
 10  percentage_docks_available            float64
 11  ctx-1                                 float64
 12  ctx-2                                 float64
 13  ctx-3                                 float64
 14  ctx-4                                 float64
 15  traffic                               float64
dtypes: float64(11), int64(5)
memory usage: 399.8 MB

In [22]:
from sklearn.model_selection import train_test_split

In [26]:
# data set de train i test
df_train = global_df[(global_df['year'] < 2023)]
df_test = global_df[(global_df['year'] >= 2023)]

X_train = df_train[['ctx-1', 'ctx-2', 'ctx-3', 'ctx-4']]
y_train = df_train['percentage_docks_available']

X_test = df_test[['ctx-1', 'ctx-2', 'ctx-3', 'ctx-4']]
y_test = df_test['percentage_docks_available']

In [28]:
global_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3275091 entries, 0 to 3275090
Data columns (total 16 columns):
 #   Column                                Dtype
---  ------                                -----
 0   station_id                            int64
 1   year                                  int64
 2   month                                 int64
 3   day                                   int64
 4   hour                                  int64
 5   num_bikes_available                   float64
 6   num_bikes_available_types.mechanical  float64
 7   num_bikes_available_types.ebike       float64
 8   num_docks_available                   float64
 9   weekend                               float64
 10  percentage_docks_available            float64
 11  ctx-1                                 float64
 12  ctx-2                                 float64
 13  ctx-3                                 float64
 14  ctx-4                                 float64
 15  traffic                               float64
dtypes: float64(11), int64(5)
memory usage: 399.8 MB